<%= form_for @message do |f| %>
  <fieldset>
    <legend><%= @message.persisted? ? 'Edit Message' : 'New Message' %></legend>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
  </fieldset>
  <%= f.submit %>
<% end %>
